<div class='row'>
  <div class='jumbotron'>
    <h1 class='row'><%= "Attack Damage Calculator" %></h1>
    <div class='row'><%= render 'form' %></div>
  </div>
</div>

<br>

<% if @average_damage %>
  <div class='row'>
    <div class= 'panel panel-default'>
      <div class='panel-heading'>Average Damage</div>
      <div class='panel-body'><%= @average_damage %></div>
    </div>
  </div>
<% end %>

<% if @net_successes_hash %>
  <%= render partial: 'charts/barchart_for_hash', locals: { table_title: "Net Attack Successes", hash: @net_successes_hash} %>
<% end %>

<% if @dv_probability_hash %>
  <%= render partial: 'charts/barchart_for_hash', locals: { table_title: "Total Damage Value", hash: @dv_probability_hash} %>
<% end %>

<% if @damage_probability_hash %>
  <%= render partial: 'charts/barchart_for_hash', locals: { table_title: "Net Damage Dealt", hash: @damage_probability_hash} %>
<% end %>